* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 1100px;
    font-size: 1rem;
    margin-left: auto;
    margin-right: auto;
    transition: all 1s; 
}  

section {
    text-align: center;
}

h1 {
    font-size: 5em;
    line-height: 1.2;
    font-weight: normal;
    text-align: center;
    padding: 0 20px;
}

p {
    font-size: 1.4em;
}
span {
    color: #aa275e;
}

footer {
    text-align: center;
    font-size: 2em;
}




#showcase {
    background-image: url('../img/showcase.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;   
}



#section-b {
    padding: 60px;
    margin: 20px;
   
   
}

#box-o {
    padding-top: 80px;;
}

#section-c {
    margin-bottom: 200px;
}

.button-container {
    margin: 40px;
}

.button {
    font-size: 3em;
    text-decoration: none;
    color: white;
    border: #aa275e 1px solid;
    background-color: #aa275e;
    padding: 40px;
    border-radius: 4px;
    margin-top: 70px;
}

.boxes-container {
    width: 100%;
    margin: auto;
    color: #1a2c86fb;
    float: left;
      
    font-size: 2em;
}

.box {
    width: 33.333%;
    float: left;
    padding: 20px 20px;
    box-sizing: border-box;  
}

.boxes div span {
    color: #1a2c86fb;
    font-weight: bold;
    font-size: 2em;
}






 


